# note: https://github.com/openstack/tripleo-quickstart/blob/master/requirements.txt
ansible==4.2.0

# needed for xml plugin used to parse domain xml
lxml

# used by library/arptable_ip_from_mac.py
python_arptable
